<div class="flex flex-col h-screen">
  <div class="flex h-1/6 bg-gray-100 items-center p-2">
    <button class="bg-sky-900 w-48 h-16 py-2 px-4 text-white text-base button-text">
      <mat-icon>list</mat-icon>SAVED LISTS
    </button>
    <button class="w-48 py-2 px-4 button-text">
      <mat-icon>filter_list</mat-icon> SAVED FILTERS
    </button>

    <button class="w-48 py-2 px-4 button-text">
      <mat-icon>history</mat-icon> Search History
    </button>

<div class="flex-auto right-align">
  <input (keyup)="handleSearch($event)" class="w-1/2 px-4 py-2 rounded border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" type="text" placeholder="Search">
</div>

    </div>
    <app-company-list [searchTerm]="searchTerm" class="flex h-5/6"></app-company-list>
</div>
