<div class="w-4/5 overflow-y-auto ">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
      
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Date. </th>
      <td mat-cell *matCellDef="let element"> {{element.Date | date:'MMM cc'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> List Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="entity">
      <th mat-header-cell *matHeaderCellDef> No. of Entities </th>
      <td mat-cell *matCellDef="let element"> {{element.entity}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon class="text-slate-400 px-4">send</mat-icon>
        <mat-icon class="text-slate-400 px-4">share</mat-icon>
        <mat-icon class="text-slate-400 px-4">edit</mat-icon>
        <mat-icon class="text-slate-400 px-4">delete</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><button class="bg-white focus:border-b-4 border-sky-900"  (click)="displayDetails(element)" mat-button >Details</button></td>
      <!-- <mat-cell *matCellDef="let element" >
        <button mat-button >Edit</button>
      </mat-cell> -->
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{'bg-gray-100':row.id===selectedRow}" ></tr>
  </table>
</div>
<div class="w-1/5 overflow-y-auto">
<app-company-description [description]="descriptionList"></app-company-description>
</div>